.container {
  margin-top: 10%;
  background-color: #f8f8f8;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

input[type="text"] {
  margin: 3px 0 !important;
}

button.ui.button {
  display: block; 
}

.header_logo {
  width: 300px;
}